.select2-results .item-icon i {
  margin-right: 10px;
}
#header > :first-child,
aside {
  width: 224px;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.login-page .error-login {
  color: #A90329;
  padding: 10px 0 0;
  text-align: center;
}
.login-info a {
  margin-top: 10px;
  margin-left: 3px;
}
form .label span {
  color: #A90329;
}
.smart-form section button.btn {
  margin-left: 0;
  margin-top: 0;
}
.smart-form textarea #logo {
  text-align: center;
}
#logo h1 {
  margin: 0;
}
#load-panel {
  display: none;
  z-index: 2000;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
  position: fixed;
}
div.select2-container {
  width: 100%;
}
.ks-has-tag {
  color: #A90329;
}
.smart-form {
  background-color: white;
}
.smart-form .btn {
  cursor: pointer;
  font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
  height: 31px;
  margin: 10px 0 0 5px;
  padding: 0 22px;
}
.select2-container .select2-choice abbr {
  right: 35px;
  top: 9px;
  font-size: 16px;
}
.select2-container .select2-search-choice-close {
  background: none !important;
}
.select2-container:not(.select2-container-multi) .select2-search-choice-close:before {
  color: #444444;
  content: "\f00d";
}
.superbox-imageinfo span p:last-child {
  margin-top: 0;
}
.superbox-imageinfo > *:first-child {
  margin-bottom: 0;
}
.superbox-list {
  margin-left: -3px;
}
.superbox-imageinfo span {
  padding-top: 0;
}
.superbox-show {
  z-index: 10;
  margin-bottom: 20px;
}
.superbox-show form {
  display: none;
}
.superbox-show .remove-image {
  width: 85px;
}
.superbox-show form input {
  padding: 6px 12px;
  width: 85px;
  margin: 10px 10px 10px 0;
}
.smart-form .modal-dialog {
  margin: 30px auto;
}
.smart-form .modal-dialog .modal-header {
  padding: 15px;
}
.smart-form .modal-dialog .modal-body {
  padding: 20px;
}
.smart-form .modal-dialog .modal-footer {
  padding: 20px;
}
.smart-form .note-editor {
  border: 1px solid #A9A9A9;
}
.control-group {
  padding-left: 13px !important;
}
.control-group label {
  padding-top: 0 !important;
  margin-top: 4px !important;
}
.help-block.error {
  color: red;
}
.finished-icon {
  color: green;
}
.not-finished-icon {
  color: red;
}
.block.new-block {
  display: none;
}
.block {
  margin-bottom: 8px;
}
.right-header-button {
  float: right;
}
.note-toolbar button {
  padding: 6px 12px;
}
table td .checkbox {
  margin: 0 !important;
  padding: 0 !important;
}
table td .checkbox i {
  top: 0 !important;
}
tr th:last-child,
tr td:last-child {
  text-align: center;
}
textarea {
  resize: none;
  height: 200px !important;
  padding: 7px 8px !important;
  box-sizing: border-box !important;
}
.add-block a i {
  margin-right: 5px;
}
.list-area tr th:last-child {
  width: 63px;
}
.list-area td.action,
.list-area th.action {
  width: 60px;
  text-align: center;
}
.image-panel .image {
  margin-top: 20px;
}
.image-panel fieldset {
  padding-top: 0;
}
.image-panel .images {
  margin-top: 20px;
}
.image-panel .code {
  color: #A90329;
  text-align: center;
  margin: 5px 0 10px;
}
.image-panel .upload-image-from {
  clear: both;
}
.image-panel img {
  max-width: 479px;
}
.empty-image {
  margin: 40px 0 0 20px;
  font-weight: bold;
}
.image-panel .code {
  color: #A90329;
  text-align: center;
  margin: 5px 0 10px;
}
.image-panel .upload-image-from {
  clear: both;
}
.image-panel.image-preview .remove-image {
  padding-top: 10px;
}
.image-panel .crop-panel.several-crop {
  overflow: hidden;
}
.image-panel .crop-panel.several-crop .image {
  float: left;
  margin-right: 30px;
}
.videos .code {
  color: #A90329;
}
.upload-video-form .uploadify-queue-item {
  color: black;
}
.uploadify-button {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #3276B1;
  opacity: .8;
  border: 0;
  font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.view-player {
  font-weight: 700;
  float: right;
}
.view-player a {
  color: #666;
}
.modal.hide.fade.show-video-panel.in {
  display: block!important;
  background-color: #ffffff;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.modal.hide.fade.show-video-panel.in .modal-header {
  padding: 9px 15px;
}
.modal.hide.fade.show-video-panel.in .modal-body {
  padding: 15px;
}
.modal.hide.fade.show-video-panel.in h3 {
  margin: 0;
  font: bold 18px/27px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
i.fa.fa-sort-up,
i.fa.fa-sort-down {
  font-size: 22px;
}
#add-buttons-popup {
  display: none;
}
#add-buttons-popup .jarviswidget {
  margin: 0px;
}
#add-buttons-popup {
  width: 2030px;
}
#add-buttons-popup .banner.buttons {
  position: relative;
  overflow: hidden;
}
#add-buttons-popup .main-banner-button {
  width: 120px;
  height: 40px;
  top: 0px;
  left: 0px;
  border: 1px solid red;
  position: absolute;
}
#add-buttons-popup .main-banner-button.active {
  border: 2px solid red;
}
/* SELECT2 "n results available" message fix */
.select2-hidden-accessible {
  display: none !important;
  visibility: hidden !important;
}
@media screen and (min-width: 1025px) {
  .superbox-list {
    width: 18.5%;
  }
}
.pages-widgets-panel .code {
  color: #A90329;
}
.pages-widgets-panel .field {
  margin-top: 5px;
}
.pages-widgets-panel input {
  width: 40px;
}
.pages-widgets-panel img {
  width: 200px;
}
.pages-widgets-panel .block-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.code-inner {
  color: red;
  margin: 0 0 20px;
}
.list-area form button {
  margin-top: 25px !important;
}
.ks-filters {
  margin-bottom: 20px;
}
.ks-filters .ks-filter {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.ks-filters .ks-filter button {
  margin-top: 21px !important;
}
.page-editor table td:not(.video) {
  vertical-align: bottom !important;
}
.page-editor table td.last {
  vertical-align: middle !important;
}
.select2-container {
  height: 100%;
}
.user-editor .ks-price {
  width: 100px;
}
.user-editor .ks-user-order-info h3 {
  margin-top: 0;
}
.user-editor .ks-user-order-info .info {
  margin-bottom: 15px;
}
.main-image-edit textarea.s {
  height: 100px !important;
}
.sys-payment .checkbox {
  margin-bottom: 16px;
}
.sys-option-element,
.set-paid {
  overflow: hidden;
}
.sys-payment .restaurant-block {
  display: none;
}
.sys-payment .restaurant-block .error {
  display: none;
  color: red;
}
.sys-payment .restaurant-block.error .error {
  display: block;
}
#categoryPanel {
  float: left;
  min-width: 290px;
  min-height: 500px;
}
#categoryPanel th,
#categoryPanel td {
  text-align: left;
}
.row.categorized {
  margin-left: 335px;
}
.category-list .category-padding-1,
#categoryPanel .category-padding-1 {
  padding-left: 40px;
}
.category-list .category-padding-2,
#categoryPanel .category-padding-2 {
  padding-left: 80px;
}
.category-list .category-padding-3,
#categoryPanel .category-padding-3 {
  padding-left: 120px;
}
.category-list .category-padding-4,
#categoryPanel .category-padding-4 {
  padding-left: 160px;
}

th.sys-sortable {
  cursor: pointer;
}
.modal .form-control {
  padding: 0;
}