.owl-item {
    width: 100%;
}

.article-image {
    text-align: center;
}
.article-image img {
    width: auto;
}

.advert-header {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
}