.owl-item {
    width: 100%;
}

.article-image {
    text-align: center;
}
.article-image img {
    width: auto;
}

.advert-header {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.error404 {
    height: 100vh;
    line-height: 100vh;
}
.error404 h1 {
    display: inline-block;
    vertical-align: middle;
}

.list > li a.active {
    color: #888888;
}

.article-content {
    margin-top: 20px;
}
.article-content b {
    font-weight: bold;
}

@media (min-width: 992px) {
    .news {
        padding-bottom: 40px;
    }

    .news .link {
        position: absolute;
        bottom: 0;
    }
}