
<header class="page-header" ng-controller="HeaderCtrl">
    <!-- RD Navbar -->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
            <div class="rd-navbar-inner">
                <!-- RD Navbar Panel -->
                <div class="rd-navbar-panel">

                    <!-- RD Navbar Toggle -->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                    <!-- END RD Navbar Toggle -->

                    <!-- RD Navbar Brand -->
                    <div class="rd-navbar-brand">
                        <a ng-href="/#/" class="brand-name primary-color">
                            <img class="header-logo-text" src="/resources/img/site/header_logo_text.svg">
                        </a>
                    </div>
                    <!-- END RD Navbar Brand -->
                </div>
                <!-- END RD Navbar Panel -->

                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav -->
                    <ul class="rd-navbar-nav">
                        <li ng-class="{'active': location.path() == '/'}">
                            <a ng-href="/#/" ng-click="hideMenu()">Главная</a>
                        </li>
                        <li ng-class="{'active': location.path().indexOf('gym') > 0}">
                            <a class="sys-change-city" ng-href="/#/gym/" ng-click="setSelectedCity(); hideMenu()">Залы</a>
                            <ul class="rd-navbar-dropdown">
                                <li ng-repeat="city in citiesHasGym">
                                    <a ng-href="/#/gym/?cityId={{city.id}}" ng-click="setSelectedCity(city); hideMenu()">{{city.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li ng-class="{'active': location.path().indexOf('news') > 0}">
                            <a ng-href="/#/news" ng-click="hideMenu()">Новости</a>
                        </li>
                        <li ng-show="!person" ng-class="{'active': location.path().indexOf('login') > 0}">
                            <a ng-href="/#/login" ng-click="hideMenu()">Войти</a>
                        </li>
                        <li ng-show="person" ng-class="{'active': location.path().indexOf('account') > 0}">
                            <a ng-href="/#/account" ng-click="hideMenu()">Личный кабинет</a>
                            <ul class="rd-navbar-dropdown">
                                <li ng-show="person.admin">
                                    <a href="/editor/" ng-click="hideMenu()">Администрирование</a>
                                </li>
                                <li ng-show="person.admin || person.instructor">
                                    <a>Оплата</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li>
                                            <a ng-href="/#/account/balance" ng-click="hideMenu()">Мой баланс</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/payment" ng-click="hideMenu()">Платежи</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/payment_status" ng-click="hideMenu()">Даты истечения</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/transaction" ng-click="hideMenu()">Списания</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/tariff" ng-click="hideMenu()">Тарифы</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/coupon" ng-click="hideMenu()">Купоны</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="person.admin || person.instructor">
                                    <a>Справочники</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li>
                                            <a ng-href="/#/account/athlete/" ng-click="hideMenu()">Атлеты</a>
                                        </li>
                                        <li>
                                            <a ng-href="/#/account/team/" ng-click="hideMenu()">Команды</a>
                                        </li>
                                        <li>
                                            <a href="/editor/gym/">Залы</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="person.admin || person.instructor">
                                    <a href="/editor/article/news/" ng-click="hideMenu()">Новости</a>
                                </li>
                                <li>
                                    <a class="logout" ng-click="logout(); hideMenu()">Выйти</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END RD Navbar Nav -->

                    <!-- RD Navbar Search -->
                    <div class="rd-navbar-search">
                        <form class="rd-navbar-search-form" action="" method="GET">
                            <label class="rd-navbar-search-form-input">
                                <input type="text" name="s" placeholder="" autocomplete="off"/>
                            </label>
                            <button class="rd-navbar-search-form-submit" type="submit"></button>
                        </form>
                        <span class="rd-navbar-live-search-results"></span>
                        <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                    </div>
                    <!-- END RD Navbar Search -->
                </div>
            </div>
        </nav>
    </div>
    <!-- END RD Navbar -->
    <div class="container md-well well--inset-2" ng-show="showBanner">
        <!-- Owl Carousel -->
        <div class="owl-carousel-wrapper">
            <div ng-carousel class="owl-carousel"
                 data-nav="true"
                 data-autoplay="true"
                 data-autoplay-timeout="7000"
                 data-autoplay-speed="500"
                 data-nav-speed="500">
                <div class="owl-item" ng-repeat="banner in bannerList">
                    <!--News Post-->
                    <a ng-if="banner.type == 'advert'" ng-href="{{banner.link}}">
                        <article class="news-post text-center">
                            <img height="596" width="1170" ng-src="{{banner.image}}" alt="">
                            <h4 class="advert-header">{{banner.text}}</h4>
                        </article>
                    </a>
                    <article ng-if="banner.type != 'advert'" class="news-post text-center">
                        <img height="596" width="1170" ng-src="{{banner.image}}" alt="">
                    </article>
                </div>
            </div>
        </div>
        <!-- END Owl Carousel -->
        <div class="divider divider-big"></div>
    </div>
</header>