
<form class='rd-mailform search' name="searchForm" ng-controller="ListSearchCtrl">
    <fieldset>
        <div class="row flow-offset-4">
            <div class="col-md-4">
                <label class="search-container">
                    <span class="title">Поиск</span>
                    <input placeholder="Введите запрос" name="query" ng-model="query" ng-change="onChangeQuery()"/>
                    <abbr ng-show="query" ng-click="onClickClearQuery()"/>
                </label>
            </div>
            <div class="col-md-2" ng-if="canAdd">
                <button class="btn btn-md btn-default width-100-percent" ng-click="onClickNew()">{{newLabel}}</button>
            </div>
            <div class="col-md-2" ng-if="canExport">
                <button class="btn btn-md btn-default width-100-percent" ng-click="onExport()">Выгрузить</button>
            </div>
        </div>
    </fieldset>
</form>