
<section class="well well--inset-1">
    <div class="container">
        <h2>новости</h2>

        <div class="row text-md-left flow-offset-1">
            <div class="col-md-4 relative news ngAnimation" ng-repeat="news in newsList">
                <article class="news-post inset-1">
                    <img height="222" width="337" ng-src="{{news.image}}" alt="">
                    <time>{{news.publish}}</time>
                    <h5><a ng-href="/#/news/{{news.path}}/">{{news.name}}</a></h5>

                    <p>{{news.shortText}}</p>
                    <a ng-href="/#/news/{{news.path}}/" class="link">ПОДРОБНЕЕ</a>
                </article>
                <div class="divider divider-md-vertical divider-small divider-right offset-1"></div>
            </div>
        </div>
    </div>
</section>

<section class="well--inset-1">
    <div class="container">
        <div class="divider divider-big"></div>
    </div>
</section>

<section class="well well--inset-1">
    <div class="container">
        <h2>О клубе</h2>

        <dl class="terms-list txt-color-dark">
            <dd>
                <p>
                    <strong>Спортивный клуб "СТРЕЛА"</strong><br/>
                </p>
                <p>
                    Основан 1 сентября 2010 года.<br/>
                    Дисциплины: бразильское джиу-джитсу, муай-тай, грепплинг, миксфайт.</br>
                    С 2013 года зарегистрирован в IBJJF и UAEJJF.<br/>
                    Отделения: Москва, Санкт-Петербург, Смоленск, Элиста, Казань, Дербент, Евпатория,<br/>
                    Красноярск, Иркутск, Улан-Удэ, Усолье-Сибирское, Владивосток.
                </p>

                <p>
                    <strong>TEAM STRELA RUSSIA</strong><br/>
                </p>
                <p>
                    Москва, м. Шаболовка ул. Люсиновская, д.62, к.1<br/>
                    Джиу-джитсу/Грэпплинг.
                </p>

                <p>
                    <strong>Инструктор:</strong>
                </p>
                <p>
                    <strong>Дмитрий Селивахин</strong>, главный тренер команды, коричневый пояс(brown belt)<br/>
                    старший тренер сборной России по грэпплингу-ги 2013-2016 г.<br/>
                    чемпион "INTERNATIONAL MASTERS 2012"(Рио-де-Жанейро,blue belt)<br/>
                    чемпион "EUROPEAN IBJJF OPEN 2013" (Лиссабон,purple belt,masters)<br/>
                    чемпион "AUSTIN INTERNATIONAL OPEN 2015" (Остин, brown belt,masters)
                </p>

                <p>
                    <strong>Спортсмены команды:</strong>
                </p>

                <p>
                    <strong>Илья Богословский</strong>, коричневый пояс.<br/>
                    серебряный призер "MOSCOW OPEN BJJ CUP I", IBJJF, 2011<br/>
                    чемпион "Abu Dhabi World Professional Jiu-Jitsu Championship 2012 Moscow Trial"<br/>
                    чемпион "SPB BJJ OPEN I", IBJJF, 2012<br/>
                    чемпион "MOSCOW OPEN BJJ CUP III",IBJJF, 2013<br/>
                    серебряный призер "RUSSIA INTERNATIONAL BJJ OPEN I", IBJJF, 2013
                </p>

                <p>
                    <strong>Шкварунец Мария</strong>, коричневый пояс<br/>
                    мастер спорта по самбо<br/>
                    мастер спорта международного класса по спортивной борьбе(grappling)<br/>
                    3-кратная чемпионка Европы по грепплингу,FILA<br/>
                    7-кратная чемпионка мира по грепплингу,FILA<br/>
                    чемпионка Европы по бразильскому джиу-джитсу,2013, IBJJF<br/>
                    чемпионка Мира по самбо (юниоры)<br/>
                    чемпионка "MOSCOW OPEN BJJ CUP I", IBJJF, 2011<br/>
                    вице-чемпионка "RUSSIA INTERNATIONAL OPEN BJJ I", IBJJF, 2013<br/>
                    бронзовый призер "WORLDS IBJJF CHAMPIONSHIP" 2014(purple)
                </p>

                <p>
                    <strong>Шапиев Арсен</strong>, коричневый пояс(brown belt), МСМК по грэпплингу.<br/>
                    бронзовый призер "MOSCOW OPEN BJJ CUP II 2012"<br/>
                    серебрянный призер "SPB OPEN BJJ III 2012"<br/>
                    чемпион "Gracie Barra BJJ Open 2013"<br/>
                    чемпион "Kiev BJJ Open 2013"<br/>
                    чемпион "Ukranian BJJ Open 2013"(вес/абсолютка)<br/>
                    чемпион "Scramblers Open BJJ 2013"<br/>
                    чемпион Европы 2014 (blue belt,masters)<br/>
                    вице-чемпион "Munich Winter International Open 2014" (purple belt, adult)<br/>
                    вице-чемпион "Moscow International Open 2014 IBJJF 2014"(purple belt)<br/>
                    чемпион Европы UWW 2015<br/>
                    призёр чемпионата Мира UWW 2015<br/>
                    чемпион Мира в абсолютной весовой категории UAEJJF 2016 (brown belt, masters1)
                </p>

                <p>
                    <strong>Барбашов Василий</strong>, коричневый пояс(brown belt)<br/>
                    чемпион "Gracie Barra BJJ Open 2012"<br/>
                    серебрянный призер "Gracie Barra BJJ Open 2013"<br/>
                    бронзовый призер "Ukranian BJJ Open 2013"<br/>
                    чемпион "Kiev BJJ Open 2013"<br/>
                    чемпион Европы 2014 (blue belts, masters)<br/>
                    бронза "Moscow International Open 2014 IBJJF 2014"(purple belt,adult)<br/>
                    чемпион Европы IBJJF NO-Gi 2016(brown belt, masters1)<br/>
                    чемпион Москвы UWW 2016<br/>
                </p>

                <p>
                    <strong>Янис Янакидис</strong>, пурпурный пояс(purple belt)<br/>
                    чемпион "SPB BJJ OPEN I",IBJJF, 2012<br/>
                    чемпион "MOSCOW OPEN BJJ CUP II", IBJJF, 2012<br/>
                    чемпион "MOSCOW OPEN BJJ CUP III",IBJJF, 2013<br/>
                    чемпион "RUSSIA INTERNATIONAL BJJ OPEN I", IBJJF, 2013<br/>
                    2-кратный бронзовый призер Чемпионата России по грепплингу(gi),FILA<br/>
                    чемпион "Moscow International Open 2014 IBJJF 2014" (blue belt, no-gi)<br/>
                    чемпион "Moscow International Open 2014 IBJJF 2014" (blue belt, gi)
                </p>

                <p>
                    <strong>ММА:</strong>
                </p>

                <p>
                    <strong>Тарас Кияшко</strong>, старший тренер команды<br/>
                    по ММА,5 дан по карате, пурпурный пояс<br/>
                    по бразильскому джиу-джитсу.
                </p>

                <p>
                    <strong>Александр Волков</strong><br/>
                    Финалист M-1 Selection 2010 Eastern Europe<br/>
                    экс-чемпион "BELLATOR"<br/>
                    чемпион M-1 Global<br/>
                    пурпурный пояс по бразильскому джиу-джитсу
                </p>
            </dd>
        </dl>
    </div>
</section>
