
<section class="well well--inset-1">
    <div class="container">
        <h2>новости</h2>

        <div class="row text-md-left flow-offset-1">
            <div class="col-md-4 relative news ngAnimation" ng-repeat="news in newsList">
                <article class="news-post inset-1">
                    <img height="222" width="337" ng-src="{{news.image}}" alt="">
                    <time>{{news.publish}}</time>
                    <h5><a ng-href="/#/news/{{news.path}}/">{{news.name}}</a></h5>

                    <p>{{news.shortText}}</p>
                    <a ng-href="/#/news/{{news.path}}/" class="link">ПОДРОБНЕЕ</a>
                </article>
                <div class="divider divider-md-vertical divider-small divider-right offset-1"></div>
            </div>
        </div>
    </div>
</section>

<section class="well--inset-1">
    <div class="container">
        <div class="divider divider-big"></div>
    </div>
</section>

<section class="well well--inset-1">
    <div class="container">
        <h2>О клубе</h2>

        <dl class="terms-list txt-color-dark">
            <dd>
                <p>
                    <strong>Спортивный клуб "СТРЕЛА"</strong><br/>
                </p>
                <p>
                    Основан 1 сентября 2010 года.<br/>
                    Дисциплины: бразильское джиу-джитсу, муай-тай, грепплинг, миксфайт.</br>
                    С 2013 года зарегистрирован в IBJJF и UAEJJF.<br/>
                    Отделения: Москва, Санкт-Петербург, Смоленск, Элиста, Казань, Дербент, Евпатория,<br/>
                    Красноярск, Иркутск, Улан-Удэ, Усолье-Сибирское, Владивосток.
                </p>
            </dd>
        </dl>
    </div>
</section>
