
<section class="md-well well--inset-2 athletes-page list-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">атлеты</h5>

                <ng-list-search-panel data-can-add="true" data-can-export="true">
                </ng-list-search-panel>

                <div class="table-responsive athletes">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ФИО</th>
                                <th>Пользов.</th>
                                <th>Инстр.</th>
                                <th>Админ</th>
                                <th>Заблок.</th>
                                <th>Команда</th>
                                <th>Регион регистрации</th>
                                <th><i class="glyphicon glyphicon-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="athlete in athletes" ng-click="onClick(athlete.id)" class="ngAnimation">
                                <td>{{athlete.id}}</td>
                                <td>{{athlete.displayName}}</td>
                                <td>{{athlete.person}}</td>
                                <td>
                                    <i ng-class="athlete.instructor ? 'glyphicon-ok-circle finished-icon' : 'glyphicon-remove-circle not-finished-icon'" class="glyphicon "></i>
                                </td>
                                <td>
                                    <i ng-class="athlete.admin ? 'glyphicon-ok-circle finished-icon' : 'glyphicon-remove-circle not-finished-icon'" class="glyphicon "></i>
                                </td>
                                <td>
                                    <i ng-class="athlete.disabled ? 'glyphicon-ok-circle finished-icon' : 'glyphicon-remove-circle not-finished-icon'" class="glyphicon "></i>
                                </td>
                                <td>{{athlete.team}}</td>
                                <td>{{athlete.registrationRegion}}</td>
                                <td>
                                    <i class="glyphicon glyphicon-remove" ng-click="onClickRemove(athlete.id, $event)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-include="'/resources/views/include/paging.html'"></div>
            </div>
        </div>
    </div>
</section>
