
<section class="md-well well--inset-2 payment-status-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5 class="text-center">платеж</h5>

                <form class='rd-mailform' name="paymentStatusForm">
                    <fieldset>
                        <div class="row flow-offset-4">
                            <div class="col-md-12">
                                <label>
                                    <span class="title">Атлет</span>
                                    <div class="field-error" ng-show="isInvalid(paymentStatusForm.athlete)">
                                        <span class="form-error" ng-show="paymentStatusForm.athlete.$error.required">Поле не может быть пустым</span>
                                        <span class="form-error" ng-show="paymentStatusForm.athlete.$error.server">{{paymentStatusForm.athlete.serverErrorMessage}}</span>
                                    </div>
                                    <ui-select ng-model="paymentStatus.athlete" name="athlete" ng-required="true" theme="select2" title="Выберите атлета" ng-controller="SelectCtrl">
                                        <ui-select-match allow-clear="true" placeholder="Выберите атлета">{{$select.selected.text}}</ui-select-match>
                                        <ui-select-choices repeat="athlete in items" position="down"
                                                           refresh="search('athlete', $select.search)" refresh-delay="500">
                                            <div ng-bind-html="athlete.text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </label>
                            </div>
                        </div>

                        <div class="row flow-offset-4">
                            <div class="col-md-12">
                                <label>
                                    <span class="title">Зал</span>
                                    <div class="field-error" ng-show="isInvalid(paymentStatusForm.gym)">
                                        <span class="form-error" ng-show="paymentStatusForm.gym.$error.required">Поле не может быть пустым</span>
                                        <span class="form-error" ng-show="paymentStatusForm.gym.$error.server">{{paymentStatusForm.gym.serverErrorMessage}}</span>
                                    </div>
                                    <ui-select ng-model="paymentStatus.gym" name="gym" ng-required="true" theme="select2" title="Выберите зал" ng-controller="SelectCtrl">
                                        <ui-select-match allow-clear="true" placeholder="Выберите зал">{{$select.selected.text}}</ui-select-match>
                                        <ui-select-choices repeat="gym in items" position="down"
                                                           refresh="search('gym', $select.search)" refresh-delay="500">
                                            <div ng-bind-html="gym.text | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </label>
                            </div>
                        </div>

                        <div class="row flow-offset-4">
                            <div class="col-md-12">
                                <label>
                                    <span class="title">Дата истечения</span>
                                    <div class="field-error" ng-show="isInvalid(paymentStatusForm.payedTill)">
                                        <span class="form-error" ng-show="paymentStatusForm.payedTill.$error.required">Поле не может быть пустым</span>
                                        <span class="form-error" ng-show="paymentStatusForm.payedTill.$error.pattern">Неправильный формат</span>
                                        <span class="form-error" ng-show="paymentStatusForm.payedTill.$error.server">{{paymentStatusForm.payedTill.serverErrorMessage}}</span>
                                    </div>
                                    <input type="text" name="payedTill" ng-datepicker
                                           ng-model="paymentStatus.payedTill" ng-required="true"
                                           ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\.](0?[1-9]|1[012])[\.]\d{4}$/"/>
                                </label>
                            </div>
                        </div>

                        <div class="mfControls btn-group text-center text-md-left">
                            <button class="btn btn-md btn-default" ng-click="onClickButton()">Сохранить</button>
                            <a ng-href="/#/account/payment_status" class="btn btn-md">Список</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
